<a href="https://colab.research.google.com/github/archanadby05/Machine-Learning-Lab/blob/master/lab-01-Data-Preprocessing-EDA/A1_02_P01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Name: Archana Dubey
#### Roll no: 02
#### Batch: A1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [ ]:
inp = pd.read_csv("bank_marketing.csv", skiprows = 2, low_memory=False)

In [ ]:
inp.dtypes

customerid      int64
age           float64
salary          int64
balance         int64
marital        object
jobedu         object
targeted       object
default        object
housing        object
loan           object
contact        object
day             int64
month          object
duration       object
campaign        int64
pdays           int64
previous        int64
poutcome       object
response       object
dtype: object

In [ ]:
inp.head()

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

In [ ]:
inp.drop('customerid', axis=1, inplace=True)

In [ ]:
inp.head()

,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

In [ ]:
inp['job'] = inp.jobedu.apply(lambda x: x.split(',')[0])

In [ ]:
inp['edu'] = inp.jobedu.apply(lambda x: x.split(',')[1])

In [ ]:
inp.drop('jobedu', axis=1, inplace=True)

In [ ]:
inp.head()

,age,salary,balance,marital,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response,job,edu
0,58.0,100000,2143,married,yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no,management,tertiary
1,44.0,60000,29,single,yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no,technician,secondary
2,33.0,120000,2,married,yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no,entrepreneur,secondary
3,47.0,20000,1506,married,no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no,blue-collar,unknown
4,33.0,0,1,single,no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no,unknown,unknown

In [ ]:
#missing values

In [ ]:
null_counts = inp.isnull().sum()

In [ ]:
print(null_counts)

age         20
salary       0
balance      0
marital      0
targeted     0
default      0
housing      0
loan         0
contact      0
day          0
month       50
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
response    30
job          0
edu          0
dtype: int64

In [ ]:
print(inp.shape)

(45211, 19)

In [ ]:
print(inp.isnull())

         age  salary  balance  marital  targeted  default  housing   loan  \
0      False   False    False    False     False    False    False  False
1      False   False    False    False     False    False    False  False
2      False   False    False    False     False    False    False  False
3      False   False    False    False     False    False    False  False
4      False   False    False    False     False    False    False  False
...      ...     ...      ...      ...       ...      ...      ...    ...
45206  False   False    False    False     False    False    False  False
45207  False   False    False    False     False    False    False  False
45208  False   False    False    False     False    False    False  False
45209  False   False    False    False     False    False    False  False
45210  False   False    False    False     False    False    False  False

       contact    day  month  duration  campaign  pdays  previous  poutcome  \
0        False  False  False     False     False  False     False     False
1        False  False  False     False     False  False     False     False
2        False  False  False     False     False  False     False     False
3        False  False  False     False     False  False     False     False
4        False  False  False     False     False  False     False     False
...        ...    ...    ...       ...       ...    ...       ...       ...
45206    False  False  False     False     False  False     False     False
45207    False  False  False     False     False  False     False     False
45208    False  False  False     False     False  False     False     False
45209    False  False  False     False     False  False     False     False
45210    False  False  False     False     False  False     False     False

       response    job    edu
0         False  False  False
1         False  False  False
2         False  False  False
3         False  False  False
4         False  False  False
...         ...    ...    ...
45206     False  False  False
45207     False  False  False
45208     False  False  False
45209     False  False  False
45210     False  False  False

[45211 rows x 19 columns]

In [ ]:
print(inp.month.isnull())

0        False
1        False
2        False
3        False
4        False
         ...
45206    False
45207    False
45208    False
45209    False
45210    False
Name: month, Length: 45211, dtype: bool

In [ ]:
print(inp.month.isnull().sum())

50

In [ ]:
print(inp.month.value_counts())

month
may, 2017    13747
jul, 2017     6888
aug, 2017     6240
jun, 2017     5335
nov, 2017     3968
apr, 2017     2931
feb, 2017     2646
jan, 2017     1402
oct, 2017      738
sep, 2017      576
mar, 2017      476
dec, 2017      214
Name: count, dtype: int64

In [ ]:
print(inp.month.mode()[0]) #in case of a tie, we'll get error if [0] is not there

may, 2017

In [ ]:
print(inp.response.isnull().sum())

30

In [ ]:
print(inp.response.value_counts())

response
no     39894
yes     5287
Name: count, dtype: int64

In [ ]:
inp.fillna({'response': 'no'}, inplace=True)

In [ ]:
print(inp.response.isnull().sum())

0

In [ ]:
inp.describe()

,age,salary,balance,day,campaign,pdays,previous
count,45191.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.935651,57006.171065,1362.272058,15.806419,2.763841,40.197828,0.580323
std,10.619198,32085.718415,3044.765829,8.322476,3.098021,100.128746,2.303441
min,18.000000,0.000000,-8019.000000,1.000000,1.000000,-1.000000,0.000000
25%,33.000000,20000.000000,72.000000,8.000000,1.000000,-1.000000,0.000000
50%,39.000000,60000.000000,448.000000,16.000000,2.000000,-1.000000,0.000000
75%,48.000000,70000.000000,1428.000000,21.000000,3.000000,-1.000000,0.000000
max,95.000000,120000.000000,102127.000000,31.000000,63.000000,871.000000,275.000000

In [ ]:
inp.salary.describe()

count     45211.000000
mean      57006.171065
std       32085.718415
min           0.000000
25%       20000.000000
50%       60000.000000
75%       70000.000000
max      120000.000000
Name: salary, dtype: float64